
        .line{
            border-bottom: 1px solid black;
        }
        .border{
            border: red solid 1px;
            width: 300px;
        }
        .justify{
            text-align:justify;
        }
        .image{
            height: 300px;
            width: 300px;
        }
        .href{
            color: aqua;
            font-size: 30px;
            margin-right: 30px;
        }
        .hrefbar{
            top: 0;
            position:fixed;
            background-color: black
        }
        .maxwidth{
            width: 100%;
        }
        .center{
            text-align: center;
        }